<!DOCTYPE html>

<html>
    <!--link to SignUp.css stylesheet-->
    <head>
        <title>Tatio - Home</title>
        <link rel="stylesheet" href="../static/Home.css">
    </head>

    <body>
        <!--Tatio Logo above navbar-->
        <div class="gonchaLogo">
            <a href="Home.html"><img class="gongchaLogoImg" src="../static/images/gongchaLogo.jpg" alt="Tatio Logo"></a>
        </div>

        <!--navbar-->
        <div class="navbar">
            <ul class="navbarList">
                <li class="navbarItem"><a href="Home.html">Home</a></li>
                <li class="navbarItem"><a href="Menu.html">Menu</a></li>
                <li class="navbarItem"><a href="CustomerLogin.html">Customer Login</a></li>
                <li class="navbarItem"><a href="EmployeeLogin.html">Employee Login</a></li>
            </ul>
        </div>

        <!--main content-->
        <div class="wrapper">
            <div class="homeContent">
                <h2>Welcome to Tatio!</h2>

                <p>View our drinks on the menu tab</p>
                <p>If you want to order a drink, please log in as a customer</p>
                <p>If you are an employee, please log in</p>
            </div>
        </div>
    </body>
</html>