<!DOCTYPE html>

<html>
    <!--link to SignUp.css stylesheet-->
    <head>
        <title>Tatio - Menu</title>
        <link rel="stylesheet" href="../static/Menu.css">
    </head>

    <body>
        <!--Tatio Logo above navbar-->
        <div class="gonchaLogo">
            <a href="Home.html"><img class="gongchaLogoImg" src="../static/images/gongchaLogo.jpg" alt="Tatio Logo"></a>
        </div>

        <!--navbar-->
        <div class="navbar">
            <ul class="navbarList">
                <li class="navbarItem"><a href="Home.html">Home</a></li>
                <li class="navbarItem"><a href="Menu.html">Menu</a></li>
                <li class="navbarItem"><a href="CustomerLogin.html">Customer Login</a></li>
                <li class="navbarItem"><a href="EmployeeLogin.html">Employee Login</a></li>
            </ul>
        </div>

        <!--main content-->
        <div class="wrapper">
            <div class="menuContent">
                <!--GREEN TEA-->
                <div class="menuItem">
                    <!--drink item + name-->
                    <img class="menuItemImage" src="../static/images/greenTea.jpg" alt="Green Tea">

                    <div class="menuDetails">
                        <h3 class="menuItemName">Green Tea (Tea/Milk Tea)</h3>
                        
                        <!--drink size-->
                        <p>Drink size:</p>
                        <ul>
                          <li>Medium $4.00</li>
                          <li>Large $5.00</li>
                        </ul>
                    </div>
                </div>

                <!--BLACK TEA-->
                <div class="menuItem">
                    <!--drink item + name-->
                    <img class="menuItemImage" src="../static/images/blackTea.jpg" alt="Black Tea">

                    <div class="menuDetails">
                        <h3 class="menuItemName">Black Tea (Tea/Milk Tea)</h3>
                        
                        <!--drink size-->
                        <p>Drink size:</p>
                        <ul>
                          <li>Medium $4.25</li>
                          <li>Large $5.00</li>
                        </ul>
                    </div>
                </div>

                <!--THAI TEA-->
                <div class="menuItem">
                    <!--drink item + name-->
                    <img class="menuItemImage" src="../static/images/thaiTea.jpg" alt="Thai Tea">

                    <div class="menuDetails">
                        <h3 class="menuItemName">Thai Tea (Tea/Milk Tea)</h3>

                        <!--drink size-->
                        <p>Drink size:</p>
                        <ul>
                          <li>Medium $4.50</li>
                          <li>Large $5.00</li>
                        </ul>
                    </div>
                </div>                
            </div>
        </div>
    </body>
</html>