<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <!--link to SignUp.css stylesheet-->
    <head>
        <title>Tatio - Sign Up</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../static/SignUp.css">
    </head>

    <body>
        <!--Tatio Logo above navbar-->
        <div class="gonchaLogo">
            <a href="Home.html"><img class="gongchaLogoImg" src="../static/images/gongchaLogo.jpg" alt="Tatio Logo"></a>
        </div>

        <!--navbar-->
        <div class="navbar">
            <ul class="navbarList">
                <li class="navbarItem"><a href="Home.html">Home</a></li>
                <li class="navbarItem"><a href="Menu.html">Menu</a></li>
                <li class="navbarItem"><a href="CustomerLogin.html">Customer Login</a></li>
                <li class="navbarItem"><a href="EmployeeLogin.html">Employee Login</a></li>
            </ul>
        </div>

        <!--main content-->
        <div class="wrapper">
            <div class="signUpContent">
                <p th:text="'Sign up, ' + ${name}"/>

                <form action="customers/register" method="post">
                    <label for="fname">First name:</label><br>
                    <input type="text" id="fname" name="fname" value="John" size="70"><br><br>

                    <label for="lname">Last name:</label><br>
                    <input type="text" id="lname" name="lname" value="Doe" size="70"><br><br>

                    <label for="lname">Username:</label><br>
                    <input type="text" id="uname" name="uname" value="JohnDoe101" size="70"><br><br>

                    <label for="lname">E-mail:</label><br>
                    <input type="email" id="email" name="email" value="john@doe.com" size="70"><br><br>

                    <label for="lname">Password:</label><br>
                    <input type="password" id="lname" name="lname" value="password" size="70"><br><br>
                    
                    <br>

                    <input class="submit" type="submit" value="Submit">
                </form> 
            </div>
        </div>
    </body>
</html>