/* all pages of website*/
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

/* wrapper content */
.wrapper {
    width: 70%;
    min-height: 40rem;
    margin: auto;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}

h2 {
    text-align: center;
    font-weight: 500;
    padding-top: 10rem;
}

.description {
    text-align: center;
}

