/* all pages of website*/
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

/* navbar content */
.gongchaLogoImg {
    height: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    margin: auto;
}

.navbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid rgb(151, 151, 151);
  }
  
.navbarItem {
    float: left;
    width: 25%;
}

.navbarItem a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarItem a:hover {
    background-color: rgb(212, 212, 212);
}

/* wrapper content */
.wrapper {
    width: 70%;
    min-height: 40rem;
    margin: auto;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}

/* menu content in wrapper */
.employeeDashboardContent {
    width: 100%;
}

/* section titles (Password Change Requests, All Orders) */
.sectionTitle {
    font-size: 1.75rem;
    border-bottom: 1px solid rgb(151, 151, 151);
    line-height: 0;
    padding-top: 2rem;
    text-align: center;
}

/* All Orders Table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
}
  
td, th {
    border: 1px solid rgb(151, 151, 151);
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: rgb(212, 212, 212);
}


